:root {
  --background-color: #fafafa;
  --title-color: #666666;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.game-over {
  align-items: center;
  color: var(--title-color);
  display: flex;
  height: 50vh;
  justify-content: center;
}

.dino {
  background-image: url('./assets/dino.png');
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 60px;
}

.cactus {
  background-image: url('./assets/cactus.png');
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 60px;
}

@keyframes sliderRight {
  from {
    background-position: 70000%;
  }

  to {
    background-position: 0;
  }
}

.background {
  animation: sliderRight 600ms infinite linear;
  background-image: url('./assets/background.png');
  background-repeat: repeat-x;
  bottom: 0;
  height: 200px;
  position: absolute;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
}
